* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  background: url(../img/body-background.jpg) no-repeat;
  /* background-size: 100% 115%; */
  background-size: cover;
}

label {
  display: inline-block;
  font-size: 18px;
  width: 80px;
  text-align: center;
}

h1 {
  position: absolute;
  top: 18%;
  left: 9%;
  color: white;
}

h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3px;
  background-color: #66ccff;
}

.account,
.pwd,
.msg-con {
  padding-left: 33px;
}

.account {
  margin-top: 60px;
}

.pwd {
  margin-top: 40px;
}

.login-box input {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #666;
  border-radius: 15px;
  font-size: 18px;
}

.login-box input::placeholder {
  font-size: 14px;
  font-style: italic;
}

.login-box input:focus {
  outline: none;
  border-color: #333;
}

.login-box input[type="password"] {
  font-size: 30px;
}

.login-box input[type="submit"] {
  display: block;
  width: 150px;
  height: 35px;
  padding: 0;
  margin: 40px auto 0;
  border: 0;
  color: black;
  border-radius: 12px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.alert p {
  color: red;
  font-size: 20px;
}

.login-box {
  position: absolute;
  top: 27%;
  left: 9%;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  background: rgba(102, 204, 255, 0.4);
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
}

.msg-con {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}