* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  background: url(../img/body-background.jpg) no-repeat fixed;
  background-size: 100% 115%;
  color: black;
}

h1 {
  position: absolute;
  top: 21%;
  left: 7%;
  color: white;
}

h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3px;
  background-color: #66ccff;
}

a {
  display: block;
  text-decoration: none;
  color: blueviolet;
}

.upload-tablet {
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  top: 30%;
  left: 7%;
  width: 565px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
}

.file {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 28px;
  font-size: 18px;
  color: black;
  line-height: 28px;
  text-align: center;
  background-color: #8BC6EC;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
}

.file input {
  position: absolute;
  top: 0;
  left: -90px;
  width: 200%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

button {
  display: inline-block;
  width: 150px;
  height: 35px;
  border: 0;
  font-size: 18px;
  color: black;
  border-radius: 12px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
  cursor: pointer;
}

#displayInfo {
  width: 108px;
}

#submit {
  width: 96px;
  margin-left: 10px;
}

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 350px;
  height: 30px;
  vertical-align: middle;
}

#progress-value {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  margin-left: 15px;
  z-index: 999;
  color: white;
  font-size: 18px;
}

#mask {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: darkgray;
}

#progress {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: white;
  line-height: 30px;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.file,
#displayInfo,
.progress-bar,
.back,
#info {
  margin-top: 10px;
}

.back {
  font-size: 20px;
  font-weight: 700;
}

#fileName {
  margin-left: 15px;
  font-size: 18px;
}