<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文件下载错误</title>
  <link rel="stylesheet" href="../static/css/download_error.min.css">
</head>

<body>
  <section class="error-msg">
    <h1>所访问的"<span> {{filename}} </span>"文件并不存在！请点击<a href="/">链接</a>回到主页！</h1>
      <h3>或执行操作：</h3>
      <button>
        <h4><a href="/logout">注&nbsp;&nbsp;销</a></h4>
      </button>
      <button id="upload">
        <h4><a href="/upload">上 传 文 件</a></h4>
      </button>
  </section>
</body>

</html>