* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../img/m_body-background.jpeg) no-repeat fixed bottom center;
  /* background-size: 100% 115%; */
  background-size: cover;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  font-size: 16px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: white;
  line-height: 1.5;
  text-align: center;
}

p {
  display: inline-block;
  font-weight: 700;
}

h2 {
  color: red;
}

h3 {
  color: black;
}

h3:nth-child(2) {
  display: inline;
}

span {
  color: black;
}

.error-msg {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
}

.btn-box {
  display: flex;
  justify-content: space-around;
}

button {
  display: inline-block;
  flex: 1;
  height: 35px;
  border: 0;
  margin: 25px 8%;
  font-size: 18px;
  color: black;
  border-radius: 12px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
}

.error-msg h4 a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  color: white;
  text-decoration: none;
}

#upload {
  width: 125px;
  margin-left: 10px;
}