* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url(../../img/m_body-background.jpeg) no-repeat fixed bottom center;
  /* background-size: 100% 115%; */
  background-size: cover;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  font-size: 16px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: white;
  line-height: 1.5;
  text-align: center;
}

h3 span {
  font-size: 18px;
}

.all-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.flash-tablet {
  width: 100%;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.drivers-container {
  padding: 8px 0 8px 8px;
  overflow: auto;
  max-height: 100px;
  font-size: 18px;
  text-align: left;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 1px 1px 6px 3px rgb(0 0 0 / 30%);
}

.drivers-container a {
  font-size: 20px;
  margin-right: 5px;
}

.content {
  overflow: auto;
  width: 100%;
  max-height: 550px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 12px;
  text-align: center;
  box-shadow: 1px 1px 6px 3px rgb(0 0 0 / 30%);
}

.files-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  word-break: break-all;
}

.files-table th {
  color: black;
}

.files-table th,
.files-table td {
  border: 1px solid #ccc;
  font-size: 14px;
}

.td-name a,
a:link,
a:visited {
  color: rgb(255, 104, 49);
}

.td-name {
  width: 60%;
}

.td-size {
  color: rgb(30, 143, 255);
  width: 20%;
}

.td-ctime {
  color: rgb(255, 183, 0);
  width: 20%;
}

tr[type="dir"] td:first-child a {
  color: blueviolet;
}

.btn-box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 20px;
  width: 80%;
}

.btn-box button {
  display: inline-block;
  flex: 1;
  height: 35px;
  border: 0;
  margin: 0 8%;
  font-size: 18px;
  border-radius: 12px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 30%);
}

.btn-box h4 {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.btn-box a {
  display: block;
  line-height: 35px;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}