* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url(../../img/m_body-background.jpeg) no-repeat fixed bottom center;
  /* background-size: 100% 115%; */
  background-size: cover;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  font-size: 16px;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
}

.mask {
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(174, 228, 255, 0.4);
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
}

.login-box {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  display: inline-block;
  color: coral;
  width: 100%;
  height: 43px;
  margin: 45px 0 60px;
  text-align: center;
  text-shadow: white 2px 2px 2px;
}

.account,
.pwd {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

.account {
  margin-bottom: 30px;
}

label, 
input {
  height: 32px;
  line-height: 32px;
}

label {
  width: 20%;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

input {
  width: 80%;
  height: 32px;
  padding-left: 8px;
  border: 2px solid gray;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

input::placeholder {
  font-style: italic;
}

.login-box input[type="submit"] {
  display: block;
  width: 32%;
  height: 40px;
  padding: 0;
  margin: 45px auto 20px;
  border: 1px solid white;
  font-size: 18px;
  color: black;
  border-radius: 12px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.alert p {
  font-size: 17px;
  color: red;
  font-weight: 700;
}