* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../img/m_body-background.jpeg) no-repeat fixed bottom center;
  /* background-size: 100% 115%; */
  background-size: cover;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  font-size: 16px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: black;
  line-height: 1.5;
  text-align: center;
}

h3 {
  font-size: 22px;
}

a {
  display: block;
  text-decoration: none;
  color: blueviolet;
}

.upload-tablet {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
}

.file {
  position: relative;
  display: block;
  overflow: hidden;
  width: 50%;
  height: 35px;
  margin: 0 auto;
  font-size: 18px;
  color: black;
  line-height: 35px;
  text-align: center;
  background-color: #8BC6EC;
  border-radius: 12px;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
}

.file input {
  position: absolute;
  top: 0;
  left: -500px;
  width: 1000%;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

button {
  display: block;
  width: 150px;
  height: 35px;
  border: 0;
  font-size: 18px;
  color: black;
  border-radius: 12px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
  cursor: pointer;
}

#displayInfo,
#submit {
  width: 80%;
  margin: 0 auto;
}

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 350px;
  height: 30px;
  vertical-align: middle;
}

#progress-value {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  margin-left: 15px;
  z-index: 999;
  color: white;
  font-size: 18px;
}

#mask {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: darkgray;
}

#progress {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: white;
  line-height: 30px;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

input,
button {
  font-size: 18px;
}

.progress-bar {
  font-size: 18px;
}

.btn-box {
  margin-top: 40px;
}

.file,
#displayInfo,
.back,
#info {
  margin-top: 10px;
}

.back {
  font-size: 20px;
  font-weight: 700;
}

#fileName {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

#submit {
  margin-top: 16px;
}

#info {
  text-align: left;
}

#info div,
#info span {
  padding-left: 20%;
}